/* Google --- Font --- Link ---  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Default --- Css --- Code ---  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 65%;
  margin: 0 auto;
}

.cmn-button {
  padding: 12px 30px;
  color: #ffffff;
  background-color: #e02c6d;
  font-size: 18px;
  display: inline-block;
  font-weight: 500;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 5px;
}

.cmn-button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #e74c3c;
  z-index: -1;
  transition: 0.5s;
  transform-origin: left center;
  border-radius: 5px;
}

.cmn-button:hover::after {
  width: 100%;
}

.cmn-button i {
  margin-left: 12px;
}

#video-4 {
  display: none;
}



/* Banner --- Section --- Css --- Start --- Here  */

.banner-section {
  padding: 70px 0 100px;
  background-color: #2d25a0;
}

.banner-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  align-items: center;
  padding-top: 100px;
}

.banner-image img {
  width: 95%;
}

.banner-image img:hover{
    transform:translate(30px);
    transition: 2s ease;
}



.banner-text h1 {
  font-size: 65px;
  color: #ffffff;
  margin-bottom: 45px;
  font-weight: 700;
}

.banner-text h1:hover{
    font-size: 80px;
}

/* Banner --- Section --- Css --- End --- Here  */

/* Player --- Section --- Css --- Start --- Here  */

.player-section {
  padding: 80px 0;
}

.player-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.player-single {
  padding: 20px;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.2);
}

.player-single img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.player-name {
  font-size: 30px;
  font-weight: 700;
  color: #222222;
  padding: 25px 0;
}

.player-bio {
  font-size: 16px;
  font-weight: 300;
  color: #6c6c6c;
  line-height: 1.7;
}

/* Player --- Section --- Css --- End --- Here  */
/* Highlight --- Section --- Css --- Start --- Here  */

.highlight-section {
    padding: 50px 0 40px;
  }
  
  .high-light-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    align-items: center;
  }
  
  .hight-light-text h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  .hight-light-text p {
    margin-bottom: 50px;
  }
  
  .hight-light-img img {
    width: 100%;
  }
  
  /* Hight --- Light --- SEction --- Video --- Css -- Start -- Here  */


/* Footer --- Section --- Css --- Start --- Here  */

.footer-section {
  padding: 100px 0;
}

.footer-main {
  width: 60%;
  margin: 0 auto;
}

.footer-image {
  text-align: center;
}

.footer-image img {
  width: 350px;
}

.footer-social {
  padding: 50px 0;
}

.footer-social ul {
  display: flex;
  justify-content: center;
}

.footer-social ul li a {
  height: 50px;
  width: 50px;
  background: #ff7200;
  margin: 0 14px;
  display: inline-block;
  font-size: 23px;
  text-align: center;
  color: #ffffff;
  transition: 0.4s;
  line-height: 50px;
  border-radius: 50px;
}

.footer-social ul li a:hover {
  background-color: orangered;
}

.footer-text p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #130f40;
}

.footer-text p a {
  color: chocolate;
  font-weight: 600;
}

.footer-text p a:hover {
  text-decoration: underline;
}

/* Footer --- Section --- Css --- End --- Here  */
